
.container {

    border-top: thick double black;

}

.subtitle {

    border-top: thin solid black;
    border-bottom: thin solid black;

}

.venue-time {

    border-left: 0.1mm solid black;
    border-right: 0.1mm solid black;

}