
* {

    margin: 0;
    padding: 0;

    text-transform: uppercase;

}

main {

    max-width: 1080px;

}

body {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;

    gap: 3rem;


}


.container {

    display: grid;
    grid-row: repeat(8, calc(100%/8))/auto;

    border-top: thick double black;
    border-bottom: thick double black;
}

.venue,
.lowercase,
.goodbye,
.event-address,
.event-contact,
ul {

    text-transform: none;

}

/* @media screen and (max-width:600px){

    .venue, .venue-time, .event-name{
        font-size: 1em;
        padding: 1em;
    }


    .event-name::first-line, .subtitle{
        font-size: 1.5em;
    }

    /* .subject-left{
        grid-row: 6;
        grid-column: 1/span 8;
    }
    .link-subjects-right{
        grid-row: 7;
        grid-column: 1/span 8; */
    /* }

    .details, .circle{
        grid-row: 5/span 1;
        grid-column: 1/span 8;

        border-radius: 0;
        border: 0;
    }

    .event-adress{
        grid-row: 1;
        grid-column: 1/span 2;

        border-right: 0;
   
    }
     */
