/* Valgte også at gøre teksten større på listen, da det er 
meget nemmere at læse end når det er så småt */

.link-subjects-right,
.subjects-left {

    margin: 1em;
    padding-top: 2.5em;

    list-style: none;
    
}

.subjects-left {

    grid-row: 4/span 3;
    grid-column: 1;

}

.link-subjects-right {

    grid-row: 4/span 3;
    grid-column: 10;

    max-width: 15em;

}

.link-subjects-right li a {

    text-decoration: none;
    color: black;

}

/* Jeg valgte at lave hover farven mørkere, da det ellers
godt kunne være lidt svært at læse med den "originiale" farve */

.link-subjects-right li a:hover {

    color: rgb(83, 136, 131)

}

.subjects-left,
.link-subjects-right {

    font-size: 1em;

   font-style: italic;
    text-align: center;
    
}

.subjects-left li,
.link-subjects-right li{

    font-size: 1em;
    
    padding-top: 1em;

}

.subjects-left > p,
.link-subjects-right > p {

    font-weight: 600;
    font-size: 1.1em;
    

}

.subjects-left :last-child,
.link-subjects-right :nth-child(6) {

    border-bottom: var(--border-thin);
    padding-bottom: 1em;


}
